
singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = ' --bind /hpcnfs/ --bind /hpcscratch/ --bind /beegfs/ '

process.executor = 'slurm'

process.scratch = '/beegfs/scratch/ieo5898/'

workDir = '/hpcscratch/ieo/ieo5898/CSI-GEP-nf-work'

params {
    input_h5ad       = null
    outdir           = 'results'
    numgenes         = 2000
    k_min            = 3
    k_max            = 10
    k_step           = 1
    n_iter           = 100
    dataset_name     = 'test_dataset'
    check_for_rescue = false
    python_container = 'ghcr.io/geeleherlab/csi-gep_py:latest'
    r_container      = 'ghcr.io/geeleherlab/csi-gep_r:latest'
}

process {
    withName: PREPARE {
        container = params.python_container
    }

    withName: CNMF {
        container = params.python_container
        clusterOptions = '--gres=gpu:1'
        accelerator = 1    
    }

    withName: JACCARD {
        container = params.r_container
        cpus = 8
        memory = 100.GB
        time = 8.h
    }

    withName: GEP_ANALYSIS {
    container = params.r_container
    cpus = 4
    memory = 64.GB
    time = 4.h
    publishDir = [
        path: "${params.outdir}",
        mode: 'copy'
    ]
    }

}
